[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
appsettings.Development.json

node_modules/
coverage/
reporte-eslint.html

.DS_Store
Thumbs.db

/*/TestResults/
/TestResults/
*.cobertura.xml
/html/

*.binlog
*.sarif
*.html